<h4 class='darker-grey'>Filters</h4>
<%= form_tag organizations_path, method: 'get' do %>
<ul class='list-group'>
  <% @eligibilities.each do |eligibility| %>
    <li class='list-group-item grey-text'>
      <p class = "no-margin">
        <%= check_box_tag "eligibilities[]", eligibility.name  %>
        <%= eligibility.name %>
      </p>
    </li>
    <br />
  <% end %>
</ul>
<div class=''>
  <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Search Options
  </a>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <%= radio_button_tag 'filter_type', 'Accepts any', true %>
      <%= label_tag 'Find organizations that accept any of these ' %>
      <br>
      <%= radio_button_tag 'filter_type', 'Accepts all' %>
      <%= label_tag 'Find organizations that accept all of these ' %>
    </div>
  </div>
</div>
<br>
<%= submit_tag 'Apply filter', class: 'btn btn-primary float-right' %>
<% end %>
