<%= form_for(@organization) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <h5>Select the eligibilities you would like to assign to <%= @organization.name %>:</h5>
  <div class="form-group">
    <%= f.collection_check_boxes :eligibility_ids, @eligibilities, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
