<% provide(:title, "All Organizations") %>

<%= render @organizations %>

<h2>Filter organizations</h2>
<%= form_tag organizations_path, method: 'get' do %>
  <% @eligibilities.each do |eligibility| %>
    <%= check_box_tag "eligibilities[]", eligibility.name  %>
    <%= label_tag eligibility.name %>
  <% end %>
  <%= submit_tag 'Apply filter' %>
<% end %>
