<% provide(:title, @organization.name) %>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1><%= @organization.name %></h1>
      <br>
      <p class='darker-grey'><%= @organization.description %></p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'eligibilities' %>
    </div>
    <div class='col-md-8'>
      <%= render 'locations' %>
    </div>
  </div>
</div>
<hr>
<%= link_to "Home", organizations_path, class: 'btn btn-primary' %>
