<% provide(:title, @organization.name) %>

<%= @organization.name %>
<%= link_to("Back to All Organizations", organizations_path) %>

Locations:
<% @organization.locations.each do |location| %>
    <p><%= location.decorate.address %></p>
<% end %>


Description: <%= @organization.description %>

<hr>
Eligibilities:
<% @organization.eligibilities.each do |eligibility| %>
    <p><%= eligibility.name %></p>
<% end %>

<%= link_to "edit", edit_organization_path(@organization) %>
