<!DOCTYPE html>
<html>
  <head>
    <title>FullStackChallenge</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <%= link_to "Resource Search", root_path, class: 'lead' %>
      </div>
    </div>
    <div class='container'>
      <div class="flashes">
        <% if flash[:success] %>
        <p class="flash--success"><%= flash[:success] %></p>
        <% end %>

        <% if flash[:alert] %>
        <p class="flash--alert"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
